/project/notebooks/.ipynb_checkpoints/
/project/data/checkpoints/
/project/data/logs/tensorboard/
/project/data/cache/
/project/data/models/qa_model_squad_v2_esp/
/project/data/models/remote_model/
/project/*/__pycache__/
*/__pycache__/
*/*/*/__pycache__/
/project/data/logs/tfm-app.log
/streamlit/img/
/fastapi/api_utils/data